#add_item_modal.modal.fade{'aria-hidden': "true", role: 'dialog', tabindex: '-1'}
  = form_for @item, url: item_category_items_path(@category) do |f|
    .modal-dialog{role: 'document'}
      .modal-content
        .modal-header
          %h5.modal-title New Item
          %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
            %span{'aria-hidden': 'true'} &#215;
        .modal-body
          .form-group
            = f.label :name, class: 'col-form-label'
            = f.text_field :name, class: 'form-control', required: true
          .form-group
            %label.col-form-label Rate ($)
            = f.number_field :rate, step: 0.01, class: 'form-control', required: true
          %b Tax Details
          .card.bg-light.mt-2
            .p-2
              = f.fields_for :item_tax do |ff|
                .form-group
                  %label.col-form-label Tax (% / $)
                  = ff.number_field :tax, step: 0.01, class: 'form-control', required: true
                .form-group
                  = ff.label :percentage, class: 'col-form-label'
                  = ff.radio_button :tax_type, 'percentage', checked: true
                  = ff.label :value, class: 'col-form-label'
                  = ff.radio_button :tax_type, 'value'
        .modal-footer
          %button.btn.btn-secondary{'data-dismiss': 'modal', type: 'button'} Close
          = f.submit 'Create', class: 'btn btn-primary'
